<div class="container">
  <div class="row">
    <div class="span6">
      <div class="well">

        <%= render 'layouts/common_layout' %>

        <div class="well">
          <table class="table">
            <thead class="well">
            <tr>
              <th>Date</th>
              <th>Source</th>
              <th>Amount</th>
            </tr>
            <tbody>
            <% @incomes.each do |i| %>
                <tr>
                  <td><%= i.created_at.to_date %></td>
                  <td><%= i.source %></td>
                  <td><%= i.amount %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <h4>
            <p>Total Incomes : <%= @total_income %></p>
          </h4>
        </div>
        <%= link_to('Clear list', "reset/delete_all") %>
      </div>
    </div>
  </div>
</div>