<div class="container">
  <div class="row">
    <div class="span6">
      <div class=well>
      <h1>My Expense Sheet</h1>
        <%= render 'layouts/common_layout' %>
        
        <div class="well">
          <table class="table">
            <thead class="well">
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tbody>
            <% @expenses.each do |e| %>
                <tr>
                  <td><%= e.created_at.to_date %></td>
                  <td><%= e.name %></td>
                  <td><%= e.amount %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>

          <h4><p>Total Expenses : <%= number_to_currency(@total_expense) %></p></h4>
        </div>
        <%= link_to('Clear list', "reset/delete_all", class: "btn btn-warning") %>
      </div>
    </div>
  </div>
</div>