<h3>your balance = <%= @remaining_amount %></h3> <br>
<%= link_to "Add Expense", expenses_add_expense_path, class: "btn btn-warning" %>
<%= link_to "Add Income", incomes_add_income_path, class: "btn btn-warning" %>

<hr>

<% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:error] %></strong>
    </div>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:success] %></strong>
    </div>
<% end %>

